
    <h1>Home</h1>
    <div id="wave-form">

    </div>
    <div class="weather-data">
        <p id="temperature"></p>
        <p id="humidity"></p>
        <p id="air-pressure"></p>
        <p id="luminosity"></p>
    </div>
